/*
  Global CSS file
*/
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: normal;
}

::-webkit-input-placeholder {
  color:#aaa;
  font-weight: 300;
}
::-moz-placeholder {
  color:#aaa;
  font-weight: 300;
}
:-ms-input-placeholder {
  color:#aaa;
  font-weight: 300;
}
input:-moz-placeholder {
  color:#aaa;
  font-weight: 300;
}

body {
  background: #FFF;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}






#root {
  height: 100%;
}
#root > div {
  height: 100%;
}
#root > div > div {
  height: 100%;
}

.page {
  width: 100%;
}

.auth0-lock-header,
.auth0-lock-badge-bottom {
  display: none !important;
}

.auth0-lock-close-button {
  top: -11px !important;
  right: -11px !important;
}

.placeholder {
  background: lightgrey;
  height: 5000px;
  width: 100%;
}

