{
  "extends": [
    "airbnb",
    "./.es6_eslintrc.json",
    "./.react_eslintrc.json"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true,
    "mocha": true
  },
  "rules": {
    "no-unused-vars": 1,
    "no-param-reassign": 0,
    "quotes": 0,
    "no-console": 1,
    "no-debugger": 1,
    "func-names": 0,
    "new-cap": 1,
    "no-shadow": 1,
    "wrap-iife": 0,
    "no-use-before-define": 0,
    "import/namespace": 0,
    "import/default": 0,
    "import/no-named-as-default": 0
  }
}
