:global {
  #root {
    height: 100%;

    & > div {
      height: 100%;
    }
    & > div > div {
      height: 100%;
    }
  }

  .auth0-lock-container {
    .auth0-lock-name {
      display: none !important;
    }
    .auth0-lock-header-welcome {
      position: relative !important;
      height: 100% !important;
      .auth0-lock-header-logo {
        position: absolute !important;
        top: 50% !important;
        left: 50% !important;
        right: 0 !important;
        bottom: 0 !important;
        margin-left: -58px !important;
        margin-top: -29px !important;
      }
    }
  }
}
