.appBar {
  background-color: #24292e;
  padding-right: 0;
  justify-content: flex-start;
  user-select: none;

  @media screen and (max-width: 600px) and (orientation: landscape) {
    height: 5.6rem;
  }

  .leftIcon {
    &:hover {
      background: rgba(0, 0, 0, .3);
    }
    span {
      color: #fff;
    }
  }

  .container {
    margin-left: auto;
  }
}
