.button,
.neutral {
  margin-left: 1rem !important;
  &:last-child {
    margin-right: 1rem !important;
  }
}

.neutral:not([disabled]) {
  &.neutral {
    color: #fff;
    i {
      color: #fff;
    }
    &:hover,
    &:global(.ql-active) {
      background: rgba(0, 0, 0, .3);
    }
  }
}
