.layout {
  .navDrawer {
    background: #24292e;
    user-select: none;

    .drawerContent {
      background: #24292e;
      border-color: rgba(0,0,0,.1);
      width: 24rem;

      .menuContainer {
        text-align: center;

        a {
          color: #fff;
        }
      }
    }

    &.pinned {
      max-width: 24rem;
      width: 24rem;
    }
  }
}
