.layout {
  .navDrawer {
    background: #333;

    .drawerContent {
      background: #333;
      border-color: #333;
      width: 24rem;

      .menuContainer {
        text-align: center;

        a {
          color: #fff;
        }
      }
    }

    &.pinned {
      max-width: 24rem;
      width: 24rem;
    }
  }
}
