.appBar {
  background-color: #fafafa;
  border-bottom: 1px solid rgba(0,0,0,.1);
  box-shadow: none !important;
  padding: 0;
  justify-content: flex-start;
}

/*
.appBarUser {
  position: absolute;
  right: 0;
}
*/
