.container {
  user-select: none;
  white-space: nowrap;
  text-align: center;
}

.scrollBars {
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding-top: 1.4rem;
  width: 100%;
}

.inner {
  margin-bottom: 1rem;
  padding: 0 1rem;
}
