.container {
  margin: 0 0 3rem;
  white-space: nowrap;
}

.scrollBars {
  width: 100%;
  padding-top: 1.4rem;
  background: #fafafa;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.inner {
  margin-bottom: 1rem;
  padding: 0 1rem;
}
