.button,
.neutral {
  margin-left: 1rem !important;
  &:last-child {
    margin-right: 1rem !important;
  }
}

.neutral:not([disabled]) {
  &.neutral {
    &:hover,
    &:global(.ql-active) {
      i {
        color: #3f51b5; 
      }
    }
  }
}
