.navigator {}

.navigatorAppBarContainer {
  white-space: nowrap;
}

.separator {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
  height: 36px;
  width: 1px;
  background: #fff;
}

.navigatorAppBar {
  margin-top: 10px;
  text-align: center;

  @media (min-width: 480px) {
    margin-top: 12px;
  }

  button {
    margin-left: 1rem;
    &:last-child {
      margin-right: 1rem;
    }
  }
}

.editorToolbar {
  display: inline-block;
}

.username {
  text-transform: none;
}
