.navigatorAppBarContainer {
  white-space: nowrap;
}

.navigatorAppBar {
  margin-top: 10px;
  text-align: center;

  @media (min-width: 480px) {
    margin-top: 12px;
  }

  button {
    margin-left: 1rem;
  }
}

:global(.ql-toolbar.ql-snow).editorToolbar {
  height: 3.6rem;
  display: inline-block;
  padding: 5px 8px;
  position: relative;
  background: transparent;
  border: none;
  vertical-align: middle;
}
