:global {
  .ql-container {
    .ql-editor {
      .ql-size-large {
        font-size: 2em;
      }
      .ql-align-center {
        text-align: center;
      }
      .ql-align-right {
        text-align: right;
      }
      .ql-align-justify {
        text-align: justify;
      }
    }
  }
}
