:global {
  .ql-container {
    .ql-editor {
      #c-s-a-b,
      #c-s-s-b,
      .c-s-m-b,
      #c-s-f-b {
        background: #3f51b5;
      }
    }
  }
}


:global {
  #navigator-view {
    #cursor {
      animation: blink 1s linear infinite;
      background: #000;
      padding-left: 3px;
    }

    img {
      max-width: 100%;
    }
  }

  @keyframes blink {
    50% { background: transparent }
  }
}
