:global {
  .ql-snow.ql-toolbar {
    .ql-stroke,
    .ql-fill {
      stroke: #ff4081 !important;
    }

    .ql-script {
      .ql-fill {
        fill: #ff4081 !important;
      }
      &:hover {
        .ql-fill {
          stroke: #000 !important;
          fill: #000 !important;
        }
      }
    }

    .ql-size {
      color: #ff4081 !important;
    }

    .ql-picker-label,
    .ql-bold,
    .ql-script {
      &:hover {
        color: #000 !important;
        .ql-stroke {
          stroke: #000 !important;
        }
      }
    }

    .ql-active {
      color: #000 !important;
      .ql-stroke,
      .ql-fill {
        stroke: #000 !important;
      }
    }
  }
}
