:global {
  .ql-toolbar {
    button {
      &:hover {
        i {
          color: #ff4081;
        }
      }
      &.ql-active {
        i {
          color: #ff4081;
        }
      }

      i {
        color: #fff;
      }
    }
  }
}
